{{#component "component-standard-tab-container coder js-comp"}}
  <div class="tab component-tab data-structor">
    <div class="tab-contents clearfix">
      <div data-role="content" class="tab-content">
        <div class="component-body">
          {{> component:terminus/coder/backend_templates/unit_operator}}
          {{> component:terminus/coder/backend_templates/unit_context}}
        </div>
        <div class="component-footer"></div>
      </div>
    </div>
  </div>
{{/component}}
